@import url('https://fonts.googleapis.com/css?family=Armata');

body {
    padding: 100px 0;
    text-align: center;
    font-family: 'Armata';font-size: 22px;
    color:white;
    background-color: black;
}

.question {
    padding: 300px 0;
    text-align: center;
    font-family: 'Armata';font-size: 22px;
    color:white;
    background-color: black;
    width: 80%;
    margin: auto;
}

div {
    width: 60%;
    text-align: center;
    margin: auto;
}

button {
    font-family: 'Armata';font-size: 18px;
    color:white;
    background-color: black;
}

.logo {
    width: 417px;
    height: 401px;
}

.prompt {
    height: 60px;
}

.prompt1 {
    height: 50px;
}

#six {
    height: 45px;
}

#last {
    width: initial;
    height: initial;
}

#titlepage {
    padding: 200px 0;
    text-align: center;
    font-family: 'Armata';font-size: 22px;
    color:white;
    background-color: black;
}